## Setup Commands

cd ~/SQL-Projects
mkdir project-11-customer-analytics-dashboard
cd project-11-customer-analytics-dashboard
touch README.md schema.sql data.sql queries.sql

## Git Commands

cd ..
git add .
git commit -m "add project 11 customer analytics dashboard"
git push
